@model ecommerce.Models.ProductModelMapper

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="text-center">@ViewBag.title</h4>
<div class="text-end mb-3">
    <a href="@Url.Action("List", "Product")" class="btn btn-dark">Back to List</a>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <form asp-action="DetailsRequest" enctype="multipart/form-data" method="post" class="needs-validation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">

                    <div class="col-md-6 text-center">
                        <div class="mb-3">
                            <label for="CId" class="control-label">Select Category</label>
                            @Html.DropDownListFor(model => model.CId, ViewBag.categories as SelectList,
                                     "Select", new { id = "categoryId", @class = "form-control js-example-basic-single", required = "required" })


                        </div>
                    </div>



                    <input asp-for="PId" class="control-label" type="hidden"/>
                </div>
                <div class="row">

                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="PName" class="control-label">Product Name</label>
                            <input asp-for="PName" class="form-control" />
                            <span asp-validation-for="PName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">


                        <div class="mb-3">
                            <label for="PDescription" class="control-label">Product Description</label>
                            <textarea asp-for="PDescription" class="form-control"></textarea>
                            <span asp-validation-for="PDescription" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="row">


                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="PCostPrice" class="control-label">Cost Price</label>
                            <input asp-for="PCostPrice" class="form-control" id="PCostPrice" />
                            <span asp-validation-for="PCostPrice" class="text-danger" ></span>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="PsellPrice" class="control-label">Sell Price</label>
                            <input asp-for="PsellPrice" class="form-control" id="PsellPrice" />
                            <span asp-validation-for="PsellPrice" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="row">


                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="PSavings" class="control-label">Savings</label>
                            <input asp-for="PSavings" class="form-control" readonly id="PSavings" />
                            <span asp-validation-for="PSavings" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6">


                        <div class="mb-3">
                            <label for="StockQt" class="control-label">Stock Quantity</label>
                            <input asp-for="StockQt" class="form-control" />
                            <span asp-validation-for="StockQt" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="RemainQt" class="control-label">Remain Quantity</label>
                            <input asp-for="RemainQt" class="form-control" />
                            <span asp-validation-for="RemainQt" class="text-danger"></span>
                        </div>
                    </div>
@*                     @if (Model != null && !string.IsNullOrEmpty(Model.PImage))
{
                    <div class="">

                        <label for="PImage">Preview</label>
                        <img src="@Url.Content("~/Content/Image/" + Model.PImage)" class="img-thumbnail" />

                    </div>
} *@

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="PImage" class="control-label">Product Images</label>
                            <input id="PImage" class="form-control" type="file"  name="PImage"/>
                            <span asp-validation-for="PImage" class="text-danger"></span>
                        </div>
                   
                    </div>
                </div>


                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

   <script>
        $(function () {
            $('#PsellPrice, #PCostPrice').on('input', function () {
                var sellPrice = parseFloat($('#PsellPrice').val());
                var costPrice = parseFloat($('#PCostPrice').val());

                if (!isNaN(sellPrice) && !isNaN(costPrice)) {
                    var ans = costPrice-sellPrice;
                    $('#PSavings').val(ans);
                }
            });
        });


   </script>

}
