@model IEnumerable<ecommerce.Models.ProductModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<p>
    <a asp-action="Details" asp-controller="Product">Create Product</a>
</p>
